@tailwind base;
@tailwind components;
@tailwind utilities;

#bgblur{
    height:100vh;
    width:100%;
    background: url(../assets/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    filter: blur(1px);
}

#__next{
    position: relative;
}
